# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=event-ingester
DB_USER=postgres
DB_PASSWORD=postgres

# AWS / SQS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
INGESTER_FIFO_QUEUE_URL=

# Server
PORT=8000

# Worker
WORKER_BATCH_SIZE=10
WORKER_WAIT_SECONDS=20
WORKER_VISIBILITY_TIMEOUT=60
